{% extends "admin_panel.html.twig" %}

{% block title %}Admin Report Category{% endblock %}

{% block content %}
    <div class="center_content">  

        <div class="right_content">            
            <h2 class="left_h2">Products Sales Report</h2> 
            <div class="sidebar_search">
            <form>
                <input type="text" name="searchinput" class="search_input" value="search keyword" onclick="this.value = ''" />
                <input type="image" class="search_submit" src="/images/admin/search.png" alt="search_submit"/>
            </form>            
            </div>

            <table id="rounded-corner" >
                <thead>
                    <tr>
                        <th scope="col" class="rounded-company"></th>
                        <th scope="col" class="rounded">User Id</th>
                        <th scope="col" class="rounded">Name</th>
                        <th scope="col" class="rounded">Amount</th>
                        <th scope="col" class="rounded">Amount BeforeTax</th>
                        <th scope="col" class="rounded-q4">Phone Number</th>
                    </tr>
                </thead>
                {% for c in mList %}
                    <tr>
                        <td><input type="checkbox" name="ckbox" /></td>
                        <td>{{c.ID}}</td>
                        <td>{{c.name}}</td>
                        <td>{{c.totalWithShippingAndTaxes}}</td>
                        <td>{{c.totalBeforeTax}}</a></td> 
                        <td>{{c.phone}}</a></td>
                    </tr> 
                {% endfor %}
            </table>

            <a href="#" class="bt_green"><span class="bt_green_lft"></span><strong>Add new category</strong><span class="bt_green_r"></span></a>
            <a href="#" class="bt_blue"><span class="bt_blue_lft"></span><strong>View all Categorys</strong><span class="bt_blue_r"></span></a>
            <a href="#" class="bt_red"><span class="bt_red_lft"></span><strong>Delete catrgory</strong><span class="bt_red_r"></span></a> 

            <div class="pagination">
                 <span class="disabled"><< prev</span>
                {% for u in categoryList %}
                     {% if loop.index0 % 8 == 0 %}
                         <a href="">{{loop.index0 / 8}}</a>
                    {% endif %}     
                {% endfor %}
                <a href="">next >></a>
            </div> 
        </div><!-- end of right content-->
    </div>   <!--end of center content --> 
{% endblock content %}