{% extends "admin_panel.html.twig" %}

{% block title %}Admin User Add{% endblock %}

{% block content %}
    <div class="left_content">  
        <form method="post" enctype="multipart/form-data" >
            <table id="rounded-corner">
                <tr>
                    <th colspan="4"><label>User </label></th>
                    <th colspan="2">{{v.ID}}</th> 
                </tr>
                <tr>
                    <td><label>Username</label></td>
                    <td><input type="text" name="name" value="{{v.name}}"/></td>
                    <td><label>FirstName</label></td>
                    <td><input type="text" name="fname" placeholder="First name" value="{{v.fname}}" /></td> 
                    <td><label>LastName</label></td>
                    <td><input type="text" name="lname" placeholder="Last Name" value="{{v.lname}}" /></td>
                </tr
                <tr>
                    <td><label>Email</label></td>
                    <td><input type="text" name="email" placeholder="email" required="required" value="{{v.email}}"/></td> 
                    <td><label>Phone</label></td>
                    <td><input type="text" name="phone" placeholder="phone number" value="{{v.phone}}" /></td>
                    <td><label>City</label></td>
                    <td><input type="text" name="city" placeholder="city" value="{{v.city}}" /></td>
                </tr>
                <tr>
                    <td><label>Address1</label></td>
                    <td><input type="text" name="addressLine1" placeholder="address Line1" value="{{v.addressLine1}}" /></td> 
                    <td><label>Address2</label></td>
                    <td><input type="text" name="addressLine2" placeholder="address Line1" value="{{v.addressLine2}}" /></td> 
                    <td><label>State</label></td>
                    <td><input type="text" name="state" placeholder="state" value="{{v.state}}" /></td>
                </tr>
                <tr>
                    <td><label>Province Code</label></td>
                    <td><input type="text" name="code" placeholder="QC" value="{{v.code}}"/></td> 
                    <td><label>User Role</label></td>
                    <td><input type="text" name="role" placeholder="user" value="{{v.role}}" /></td> 
                    <td><label>Status</label></td>
                    <td><input type="text" name="status" value="{{v.status}}" /></td>
                </tr>
                <tr>
                    <td><label>password</label></td>
                    <td><input type="text" name="pass1" value="{{v.password}}" /></td> 
                </tr>
            </table>

            <div class="login-footer">
                <div class ="error-message">
                    {% if errorList %}
                        <ul class="errorList">
                            {% for error in errorList %}
                                <li>{{ error }}</li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <br><br>
                <button type="submit" id="button_manage" >{{operation}} user</button><br>

                {% if error %}
                    <p class="errorList">Register failed try again.</p>
                {% endif %}

            </div> <!--login-footer-->
        </form>
    </div>   <!--end of center content --> 

{% endblock content %}

